.App {
  text-align: center;
  /* display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  justify-content: flex-end; */
  
}

.App-logo {
  max-width: 40vmin;
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.my-image, .container2{
  
  align-items: center;
  justify-items: end;  
  
  
}

.text{
  font-size: 1.5rem;
            font-weight: 800;
            margin-bottom: 1.5rem;
            background: linear-gradient(to right, #fff, #acacac);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-shadow: 0 0 50px rgba(255, 255, 255, 0.1);
  
}
.container1, .container2{
flex: 1;
flex-wrap: wrap;
justify-content: center;
justify-items: center;
align-items: center;
}
.App-link {
  color: #61dafb;
}

.link-no-underline{
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
